<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="fas fa-home"></i> <span>Home</span>
					</a></li>
				</ul>
				
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Festas</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/festas/cadastrar"> <i class="fas fa-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/festas/listar"> <i class="fas fa-list-ul"></i>
							<span>Listar </span>
					</a></li>
				</ul>
				
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Presentes</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/presente/cadastrar"> <i class="fas fa-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/presente/listar"> <i class="fas fa-list-ul"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Convidados</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/convidado/cadastrar"> <i class="fas fa-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/convidado/listar"> <i
							class="fas fa-list-ul"></i> <span>Listar </span>
					</a></li>
				</ul>
				
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Padrinhos & Madrinhas</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/padrinho/cadastrar"> <i class="fas fa-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/padrinho/listar"> <i
							class="fas fa-list-ul"></i> <span>Listar </span>
					</a></li>
				</ul>

				
			</nav>
</body>
</html>