<!DOCTYPE html>
<html layout:decorate="~{layout}">

<body>
    
	
	<section layout:fragment="corpo">

	<h1>Cadastro de presentes</h1>
	<div th:replace="fragments/alert"></div>
	
	<form th:action="${presente.id == null} ? @{/presente/salvar} : @{/presente/editar}" 
		  th:object="${presente}" method="POST">
	
		<div th:replace="fragments/validacao  :: validacao"></div>

<div class="form-row">
	  <div class="form-group col-md-6">
    <label for="inputAddress">Descricao</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="tvzona 40 polegada" th:field="*{descricao}">
  </div>
	
	
  
    <div class="form-group col-md-6">
      <label for="inputEmail4">Local da compra</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Loja da esquina" th:field="*{local_compra}">
    </div>
 
  </div>
  


	<input type="hidden" id="id" th:field="*{id}">
  <button type="submit" class="btn btn-primary">Cadastar</button>
</form>
</section>



  </body>
</html>